.app-content-wrapper{
	max-height: 800px;
}
.contentarea {
	height: 85%;
}
.headerdiv {
	height: 15%;
}
.plotarea {
	height: 100%;
	width: 74.5%;
	background-color: blue;
	float: left;
}
.navigationpanel {
	height: 100%;
	width: 24.5%;
	background-color: green;
	float: right;
}
p {
	font-size: 30px;
	color: white;
	font-weight: 10px
}
.footerdiv {
	display: none;
}