p {
	color: black;
	font-size: 13.5px;
	font-family: "Serif", serif, monospace;
	text-align: justify;
	margin:10px;
}
h3 {
	text-align: justify;
	margin: 10px;
}
.contentdiv {
	height: 67%;
	width: 100%;
	margin-top: 10px;
}
.aboutdiv {
	width: 60%;
	height: 100%;
	float: left;
}
.paneldiv {
	width: 39%;
	height: 100%;
	margin-left: 10px;
	display: inline-block;
	float: right;
}
.rowdiv {
	height: 32.4%;
	width: 100%;
	margin-bottom: 5px;
	background-color: blue;
}
.rowdivbottom {
	height: 32.4%;
	width: 100%;
	background-color: blue;
}
