.headerdiv {
	width:100%;
	height: 15%;
	background-color: white;
	border-bottom: black;
}
.footerdiv {
	height: 15%;
	width: 100%;
	position: absolute;
	bottom: 0%;
}
h1 {
	font-family: "Times New Roman", Helvetica, monospace;
	font-size: 50px;
	font-weight: 15px;
	display: inline-block;
}
li {
	display: inline-block;
	float: right;
}
button {
	float: right;
	display: inline-block;
	margin:5px;
	overflow: hidden;
	padding: 5px;
}
.footertext {
	color: black;
	font-size: 30px;
	width: 50%;
	height: 100%;
	float: left;
}
.footerlogo {
	display: inline-block;
	width: 50%;
	height: 100%;
	float:right;
}
img {
	margin-right: 10px;
}