{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'rdst/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_header_override %}
<div class="headerdiv">
  <h1>Rangelands Decision Support System</h1>
  {% url 'rdst:login' as login_url %}
  {% url 'rdst:home' as home_url %}
  <li class="{% if request.path == home_url %}active{% endif %}">
    <button>
      <a href="{{ home_url }}">Home</a>
    </button>
  </li>
  <li class="{% if request.path == login_url %}active{% endif %}">
    <button>
      <a href="{{ login_url }}">Login</a>
    </button>
  </li>
</div>
<div class=footerdiv>
  <div class="footertext">
  <p> Footer area will be here</p>
  </div>
  <div class="footerlogos">
    <img src="{% static 'rdst/images/rcmrd_logo.png' %}" alt="RCMRD" width="100px" height="100px">
    <img src="{% static 'rdst/images/servirlogo.png' %}" alt="Servir Eastern and Southern Africa" width="400px" height="60px">
    <img src="{% static 'rdst/images/nasa_logo.png' %}" alt="NASA" width="100px" height="100px">
  </div>
</div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rdst/js/main.js' %}" type="text/javascript"></script>
{% endblock %}