{% extends "rdst/base.html" %}
{% load tethys_gizmos static %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'rdst/css/home.css' %}" rel="stylesheet"/>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript"></script>
{% endblock %}

{% block app_content_override %}
<div class=contentdiv>
	<div class="aboutdiv">
		<h3><strong>About the App</strong></h3>
		<p> The Rangelands Decision Support Tool has been developed by SERVIR Eastern and Southern Africa (SERVIR ESA). SERVIR-ESA is a joint initiative between NASA (National Aeronautical Space Agency) and USAID with Regional Center for Mapping of Resources for Development (RCMRD) as the implementing agency. SERVIR’s main goal is improving environmental management and resilience to climate change. </p>
		<p>While a lot of information on vegetation conditions is available online, the tool specifically provides users with a centralized location for aggregation and synthesis to develop maps that can inform different decision making processes that need to be made in the rangelands at sub-regional levels. Some of the indicators used as an input include products derived Normalized Difference Vegetation Index (NDVI) at dekadal, monthly and Seasonal time steps and include current values, anomalies and deviations from long term mean. The tool allows users to select a boundary at county or conservancy level, select a greenness index and combine it with baselines of vegetation productivity such as degradation index. The maps can then be overlaid with other ancillary datasets such as invasive species, surface water maps, rivers, roads, names, sub-county boundaries; and downloaded either as an image or with the original datasets used for further analysis or application. </p>
		<p>Generated information can be used as a decision making tool by rangeland managers to influence development of proper grazing plans, livestock movement, conflicts and implementation of conservation measures meant to rehabilitate degraded lands, management of scarce water resources and mitigation of the spread of invasive species. Further, the generated maps can also be applied in reporting or monitoring county drought status or pasture conditions. </p>
		
		{% gizmo launch_app %}
	</div>
	<div class="paneldiv">
		<div class="rowdiv"></div>
		<div class="rowdiv"></div>
		<div class="rowdivbottom"></div>
	</div>
</div>
{% endblock %}